@font-face {
    font-family: 'Simply Playful';
    src: url('../assets/simply_playful.otf');
}

body {
    font-family: 'Simply Playful';
    text-align: center;
    margin: 0;
    padding: 0;
    border: 20px;
    border-color: pink;
    border-style: dashed;

    background: url("../assets/Background Texture.png"), center center repeat;
    background-size: 15vh;
}

h1 {
    font-size: 5vh;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    color: black;
}

button {
    text-align: center;
    font-family: inherit;
    font-size: 3vh;
    width: auto;
    height: auto;
    padding: 25px;
    background-color: pink;
    color: black;

    border-style: dotted;
    border-color: black;
    border-radius: 20px;
    border-width: 15px;
}

button:active {
  background-color: violet;
}

p {
    font-size: 2vh;
}

hr {
    width: 90%;
    height: 0.05vh;
    background-color: black;
}

#notes {
    background-color: rgba(255,255,255,0.5);
}

/* Table */
table {
    border-spacing: 75px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

/* tr {
    
} */

td {
    height: 200px;
    background-color: pink;
    text-align: center; 
    vertical-align: middle;
    overflow: hidden;
    padding: 20px;

    font-size: 2.5vh;

    border-style: dotted;
    border-color: black;
    border-radius: 20px;
    border-width: 15px;
}

td:active {
    background-color: violet;
}

#zoomed_card {
    width: 90%;
    height: 50%;

    border-style: dotted;
    border-color: black;
    border-radius: 20px;
    border-width: 15px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 51%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top_button {
    width: 90%;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
}

#bottom_button {
    width: 90%;
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
}

#card_text {
    text-align: center; 
    padding: 20px;
    font-size: 3.5vh;
}